NEXT_PUBLIC_SITE_URL=https://descomplicalibras.shop
HOOPAY_CLIENT_ID=
HOOPAY_CLIENT_SECRET=
HOOPAY_API_URL=https://api.pay.hoopay.com.br
NEXT_PUBLIC_CHECKOUT_BASIC=/checkout/basico
NEXT_PUBLIC_CHECKOUT_COMPLETE=/checkout/completo
PORT=3000
